@import url("./common/hill.module.css");
@import url("./common/pit.module.css");

.header {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0 0 25px 0;

    border-radius: 0 0 50px 50px;
}