{{define "leftSide"}}
<div class="leftSide">
    <div class="requestInfo">
        <p><strong>Address</strong>: <span id="remoteAddr">{{.RemoteAddr}}</span></p>
        <p><strong>Port</strong>: <span>{{.RemotePort}}</span></p>
        <p><strong>Protocol</strong>: {{.Proto}}</p>
        <p><strong>Method</strong>: {{.Method}}</p>
        <p><strong>Host</strong>: {{.Host}}</p>
        <p><strong>Url</strong>: {{.Url}}</p>
        <p><strong>Request URI</strong>: {{.RequestURI}}</p>
        <p><strong>Headers</strong>:</p>
        <ul>
            {{range $key, $value := .Header}}
                <li class="requestHeaderItem"><strong>{{$key}}</strong>: 
                    {{range $value}}
                        <span class="requestHeaderValue">
                            {{.}}
                        </span>
                    {{end}}
                </li>
            {{end}}
        </ul>
        <p><strong>Content Length</strong>: {{.ContentLength}}</p>
        {{if ne .ContentLength 0}}
            <p><strong>Body</strong>: {{.Body}}</p>
        {{end}}
    </div>
</div>
{{end}}