.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.content {
    display: flex;
    justify-content: center;
}

.contentLayout {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin: 25px;
    padding: 25px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  30px 30px 60px #808080,
                -30px -30px 60px #ffffff;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding: 25px 50px 25px 50px;
    border-radius: 30px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  30px 30px 60px #808080,
                -30px -30px 60px #ffffff;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding: 25px 50px 25px 50px;
    border-radius: 30px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  30px 30px 60px #808080,
                -30px -30px 60px #ffffff;
}